:root{
    --color-placehouder: #ccc;
}
main{
    width: 70%;
    margin: auto;
}

h1{
    margin-bottom: 8px;
}

.barra_vermelha_titulo {
    background-color: red;
    width: 56px;
    height: 8px;
    border-radius: 4px;
}

.form_text_input label{
    display: grid;
    gap: 8px;
    font-weight: bold;
}

input {
    
    padding: 12px;
    border-radius: 4px;
    border: 2px solid var(--color-placehouder);
}
input[type="radio"]{
    appearance: none;
    padding: 8px;
    border-radius: 8px;
    border: 2px solid var(--color-placehouder);
}

input::placeholder{
    color: var(--color-placehouder);
}

form{
    margin-top: 64px;
}

.form_text_input{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 32px;

}

.radio_group label{
    margin-right: 32px;
    font-weight: bold;
    display: grid;
    grid-template-columns: 16px max-content;
}
.form_radio_input{
    margin-top: 32px;
}

button{
    margin-top: 32px;
    margin-bottom: 22px;
    width: 100%;
    background-color: red;
    color: white;
    padding: 12px;
    border-radius: 24px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 32px;
}
button img{
    height: 20px;
    align-self: center;
}
path{
    fill: aqua;
}


input[type="radio"]{
    appearance: none;
    border: solid 2px var(--color-placehouder);
    border-radius: 50%;
    vertical-align: middle;
   
} 


input[type="radio"]:checked {
    background-color: red;
    box-shadow: inset 0px 0px 0px 6px white;
    border-color: red;
}